* {
    box-sizing: border-box;
  }

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    font-size: x-large;
    padding: 5px;
}

footer{

    padding: 10px;
}

p{
    margin: 0px;
    padding: 0px;
}

.p_resultado{
    border: solid 1px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
}

.label-text-right{
    text-align: right;
    padding: 1px;
    margin: 1px;
}

.caja4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja6_5_2_6_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja4, .caja5, .caja6, .caja9, .caja6_5_2_6_2, .text-p {
    margin: 2px;
    padding: 2px;
}

.margin-5px{
    margin: 5px;
}

.margin-text
{
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.text-center{
    text-align: center;
    padding: 1px;
    margin: 1px;
}