* {
    box-sizing: border-box;
  }

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin: 0 auto;
    font-size: x-large;
    text-align: center;
    padding: 5px;
}

footer{

    padding: 10px;
}

p{
    margin: 0px;
    padding: 0px;
}

h3{
    margin: 0px auto;
    line-height: 1em;
    padding: 0px;
}

.p_resultado{
    border: solid 1px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
    height: 1.4em;
    min-width: 1em;
}

.caja_contenedor{
    border: solid 1px;
}

.caja6{
    display: grid;
    grid-template-columns: minmax(5em, 0.6fr) 1fr minmax(5em, 0.4fr) 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja9{
    display: grid;
    grid-template-columns:  minmax(3em, 5em) minmax(5em, 1fr) minmax(2em, 2em) minmax(3em, 5em) minmax(5em, 5em) minmax(2em, 2em) minmax(3em, 5em) minmax(5em, 1fr) minmax(2em, 2em);
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja6_5_2_6_2{
    display: grid;
    grid-template-columns: 1fr minmax(5em, 5em) 1fr minmax(5em, 5em) minmax(5em, 2fr) minmax(5em, 2fr);
    grid-column: 1 / -1;
    padding: 1px;
    border: solid 1px;
}

.caja6, .caja9, .caja6_5_2_6_2{
    margin: 2px;
    padding: 2px;
}

.margin-text
{
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.text-center{
    text-align: center;
    padding: 1px;
    margin: 1px;
}

.label-text-right{
    text-align: right;
    padding: 1px;
    margin: 1px;
}

.text-chico{
    font-size: small;
}

.nota{
    font-style: italic;
    font-size: small;
}

#autor{
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:650px) and (max-width:820px) {
    body{max-width: 100%;}
    .p_resultado{font-size:0.75em;}
    }

@media screen and (max-width:650px) {
    body{max-width: 100%;}
    .p_resultado{font-size:0.6em;}
    }